@charset "UTF-8"

    
    h1{

        margin: 0px;
    }
    header{

        background-color: black;
        color: white;
        font-weight: bold;


    }
    #img01{

        background-image: url("../imagens/background001.jpg");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        height: 100vh;
    }

    #img02{

        background-image: url("../imagens/background002.jpg");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        height: 100vh;
    }
    section.imagem > p{

        display: inline-block;
        background-color: rgba(0, 0, 0, 0.158);
        padding: 5px;
            

    }





 